@model IEnumerable<BookStore.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre Information</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New Genre</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre1)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
